{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "@typescript-eslint",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb-typescript",
    "react-app",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "react/no-unused-prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-key": "error",
    "no-nested-ternary": "off",
    "no-return-assign": ["off"],
    "prettier/prettier": "error",
    "indent": "off",
    "arrow-parens": ["off"],
    "camelcase": "off",
    "@typescript-eslint/camelcase": [
      "error",
      {
        "properties": "never",
        "genericType": "never",
        "ignoreDestructuring": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-explicit-any": [
      "error",
      {
        "ignoreRestArgs": true
      }
    ]
  }
}
